
<app-header></app-header>

<!--accordian-->

<mat-accordion [multi]="true" cdkDropListGroup cdkDropList [cdkDropListData]="nestedArray" (cdkDropListDropped)="dropItem($event)">
  <div *cdkDragPlaceholder></div>
  
  <mat-expansion-panel cdkDrag [cdkDragData]="parent" class="expansion-bg mat-elevation-z0 cursor-move example-list"
    *ngFor="let parent of nestedArray; let i = index" #chapterExpansionPanel
    (mouseenter)="mouseEnterHandler($event, chapterExpansionPanel)" [id]="parent.id" cdkDropListSortingDisabled>
    <mat-expansion-panel-header class="cursor-move">
      <mat-panel-title>
        <span class="accordion-header-span cursor-pointer example-box">
          {{parent.title}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>


    <ng-container>
      <div cdkDropList [id]="parent.id" [cdkDropListData]="parent.child" [cdkDropListConnectedTo]="parent.id" class="item-list"
        (cdkDropListDropped)="dropItem($event)">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div class="item-box" class="sub-lesson cursor-move" *ngFor="let child of parent.child; let j = index" cdkDrag>
          <span  class="cursor-pointer">{{ child.taskName }}</span>

          <!--make separate drop area-->
          <span  class="cursor-pointer">{{ child.firstName }}</span>
          <div *ngIf="i==1" style="display:flex;flex-wrap:wrap" (cdkDropListDropped)="dropItem($event)" cdkDropListGroup>
            <div cdkDropList [cdkDropListData]="parent.child"  [style.width]="child.width || '100%'">
              <div class="example-box" cdkDrag [cdkDragData]="child" style="border: ridge;">
                <!-- {{child.firstName}} -->
              </div>
            </div>
          </div>
          <!-- example-box -->
        </div>
      </div>
    </ng-container>
  
  
  </mat-expansion-panel>
</mat-accordion>

<br>
<button class="btn btn-danger" style="margin-left: 210px;">Assign</button>
