
<app-header></app-header>

<!--accordian-->

<mat-accordion [multi]="true" cdkDropListGroup cdkDropList [cdkDropListData]="nestedArray" (cdkDropListDropped)="dropItem($event)">
  <div *cdkDragPlaceholder></div>
  
  <mat-expansion-panel cdkDrag [cdkDragData]="parent" class="expansion-bg mat-elevation-z0 cursor-move example-list"
    *ngFor="let parent of nestedArray; let i = index" #chapterExpansionPanel
    (mouseenter)="mouseEnterHandler($event, chapterExpansionPanel)" [id]="parent._id" cdkDropListSortingDisabled>
    
    <mat-expansion-panel-header class="cursor-move">
      <mat-panel-title>
        <span class="accordion-header-span cursor-pointer example-box">
          {{parent.title}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>


    <ng-container *ngIf="i==0">

      <div cdkDropList [id]="" [cdkDropListData]="parent.child" [cdkDropListConnectedTo]="connectedTo" class="item-list"
        (cdkDropListDropped)="dropItem($event)">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <div class="item-box" class="sub-lesson cursor-move" *ngFor="let child of parent.child; let j = index" cdkDrag>
                <span  class="cursor-pointer">{{ child.taskName }}</span>
            </div>
      </div>

    </ng-container>
    <ng-container *ngIf="i==1">
      <!-- <div *ngIf="i==1" class="item-list" cdkDropList [id]="parent.id" [cdkDropListData]="parent.child" [cdkDropListConnectedTo]="parent.id"
        (cdkDropListDropped)="onDragDrop($event)">
          <ng-container *ngFor="let item of parent.child">
            {{item.firstName}}
            <app-sub-item [item]="item" [connectedTo]="connectedTo" (itemDrop)="onDragDrop($event)">
            </app-sub-item>
          </ng-container>
      </div> -->


      <!-- <div cdkDropList [id]="parent.id" [cdkDropListData]="parent.child" [cdkDropListConnectedTo]="parent.id" class="item-list"
        (cdkDropListDropped)="onDragDrop($event)">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <div class="item-box" class="sub-lesson cursor-move" *ngFor="let item of parent.child; let j = index" cdkDrag>
            <ng-container >
              {{item.firstName}}
              <app-sub-item [item]="item" [connectedTo]="parent.id" (itemDrop)="onDragDrop($event)">
              </app-sub-item>
            </ng-container>
          </div>
      </div> -->
      <!-- <mat-card>
        <mat-card-content cdkDropList dragAndDropManagerRoot [cdkDropListData]="parent.child"
          (cdkDropListDropped)="dropItem($event)">
          <ng-container *ngFor="let child of parent.child"> -->
            <!--second container-->
            <div *ngFor="let child of parent.child" style="border: ridge;">
            <mat-card cdkDrag cdkDropList [cdkDropListData]="parent.child" dragAndDropManager [id]="" (cdkDropListDropped)="dropItem($event)" [cdkDropListConnectedTo]="connectedTo">
                <mat-card-header>{{ child.firstName }}</mat-card-header>
                    <mat-card-content *ngFor="let child of parent.child">
                      {{child.taskName}}
                    </mat-card-content>
            </mat-card>
          </div>
          <!-- </ng-container>
        </mat-card-content>
      </mat-card> -->

    </ng-container>


    


    
    
    
    
    
  
  
  </mat-expansion-panel>
</mat-accordion>

<br>
<button class="btn btn-danger" style="margin-left: 210px;">Assign</button>


<!-- https://stackblitz.com/edit/angular-cdk-nested-drag-drop-tree-structure-zrvnnj?file=src%2Fapp%2Fapp.component.ts -->



<!-- <ng-container>
  <div cdkDropList [id]="parent.id" [cdkDropListData]="parent.child" [cdkDropListConnectedTo]="parent.id" class="item-list"
    (cdkDropListDropped)="dropItem($event)">
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    <div class="item-box" class="sub-lesson cursor-move" *ngFor="let child of parent.child; let j = index" cdkDrag>
      <span  class="cursor-pointer">{{ child.taskName }}</span>

      
      
      <div *ngIf="i==1" style="display:flex;flex-wrap:wrap" >
         <span  class="cursor-pointer">{{ child.firstName }}</span>
        <div style="border: ridge" cdkDropList dragAndDropManagerRoot [cdkDropListData]="parent.child" [cdkDropListConnectedTo]="parent.id" (cdkDropListDropped)="dropItem($event)" [style.width]="child.width || '100%'"> -->
           <!-- <div class="example-box" cdkDrag [cdkDragData]="child" style="border: ridge;">
            {{child.firstName}}
          </div>

           <ng-container>
            <mat-card  style="border: ridge" cdkDropList [cdkDropListData]="parent.child" [cdkDropListConnectedTo]="parent.id" (cdkDropListDropped)="dropItem($event)" [style.width]="child.width || '100%'">
              <mat-card-header>{{ child.firstName }}</mat-card-header>
              <mat-card-content  *ngFor="let d of parent.child" cdkDrag>
                
                {{d.taskName}}
              </mat-card-content>
            </mat-card>
          </ng-container>
        </div>
      </div>


    </div>
</div>
</ng-container> -->