<ng-container>
  <div class="item" cdkDrag cdkDropList [id]="item.id" [cdkDropListData]="item.child"
    [cdkDropListConnectedTo]="item.id" (cdkDropListDropped)="onDragDrop($event)">
    <div>
      [{{item.id}}] - {{item.firstName}}
    </div>
    <ng-container *ngFor="let nextItem of item.child">
      <div class="sub-item">
        <app-sub-item [item]="nextItem" [connectedTo]="item.id" (itemDrop)="onDragDrop($event)">
        </app-sub-item>
      </div>
    </ng-container>
  </div>
</ng-container>