<i id="change-password" (click)="openModalChangePassword(changePassword)"></i>
<ng-template #changePassword>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Change Password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
       <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label>Old Password</label>
          <input formControlName="oldPwd" id="oldPwd" type="password" class="form-control"/>
          <div *ngIf="form.oldPwd.touched && form.oldPwd.invalid">
              <span [ngClass]="{'field-validation-red' : form.oldPwd.errors.required}">Old Password is required.</span>
              <!-- <div *ngIf="oldPwd.errors.shouldBe1234">Old Password is not valid.</div> -->
          </div>
      </div><br>

      <div class="form-group">
        <label>New Password</label>
        <input formControlName="newPwd" id="newPwd"type="password" class="form-control" />
        <div *ngIf="form.newPwd.touched && form.newPwd.invalid">
          <span [ngClass]="{'field-validation-red' : form.newPwd.errors.required}">New Password is required.</span>
        </div>
      </div><br>

      <div class="form-group">
        <label>Confirm Password</label>
        <input formControlName="confirmPwd" id="confirmPwd"type="password" class="form-control" />
        <div *ngIf="form.confirmPwd.touched && form.confirmPwd.invalid">
          <span [ngClass]="{'field-validation-red' : form.confirmPwd.errors.required}">Confirm Password is required.</span>
        </div>
        <!-- <div class="alert alert-danger" *ngIf="confirmPwd.valid && form.invalid && form.errors.pwdsDontMatch">
          Passwords do not match.
        </div> -->
      </div><br>

      <button class="btn btn-primary">Change Password</button> &nbsp;
      <button class="btn btn-danger" (click)="cancel()">Cancel</button>

    </form>
  </div>


</ng-template> 