<h4>Login to your account</h4>

<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="emailAddress">Email address</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Enter email"/>
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password"/>
    </div>

    <button type="submit" >
      Submit
    </button>

  </form>
</div>
