<app-header></app-header>
<button type="button" class="btn btn-primary" style="margin-top: 15px; margin-left: 80%;" [routerLink]="['/addTask']">Add new</button>
&nbsp;
<button [disabled]="tasksList.length==0" type="button" class="btn btn-danger" style="margin-top: 15px;" [routerLink]="['/assignTask']">Assign Task</button>
<br><br>
<table datatable [dtOptions]="dtOptions"
[dtTrigger]="dtTrigger" class="table align-middle mb-0 bg-white">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Task Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let list of tasksList;let i=index">
      <td>
        <p class="fw-normal mb-1">{{list?.taskName}}</p>
      </td>
      <td>
        <p class="text-muted mb-0">{{list?.taskDescription}}</p>
      </td>
      <td>
        <button type="button" class="btn btn-link btn-sm" (click)="editTaskInformation(list?._id)">Edit</button>
        <button type="button" class="btn btn-link btn-sm" (click)="removeTask(list?._id)">Delete</button>
      </td>
    </tr>
  </tbody>
  </table>