<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <div>
        <div>
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" />
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" />
        </div>
        <div>
            <label for="email">Gender</label>
            <input type="radio" value="male" formControlName="gender"> Male
            <input type="radio" value="female" formControlName="gender"> Female
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" formControlName="email" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" formControlName="password" />
        </div>
    </div>
    <div>
        <button>
            Add
        </button>
    </div>
</form>
